<module>
	<rawname>extcfg</rawname>
	<name>Extension Settings</name>
	<version>0.1</version>
	<type>tool</type>
	<category>Basic</category>
	<menuitems>
		<extcfg>Extension Settings</extcfg>
	</menuitems>
	<info>http://tese.se/extcfg.html</info>
	<location>release/extcfg-0.1.tgz</location>
	<md5sum>591f57ecd023f59bfd91678f35b4f3bf</md5sum>
</module>
